.*.swp
*.pyc
build/lib/datasets/data_manager.py
build/lib/datasets/image_dataset.py
build/lib/datasets/video_dataset.py
build/lib/datasets/utils/weighted_sampler.py
build/lib/datasets/utils/video/functional.py
build/lib/datasets/utils/video/randaugment.py
build/lib/datasets/utils/video/randerase.py
build/lib/datasets/utils/video/transforms.py
build/lib/datasets/utils/video/volume_transforms.py
build/lib/masks/default.py
build/lib/masks/multiblock3d.py
build/lib/masks/random_tube.py
build/lib/masks/utils.py
build/lib/models/attentive_pooler.py
build/lib/models/predictor.py
build/lib/models/vision_transformer.py
build/lib/models/utils/modules.py
build/lib/models/utils/multimask.py
build/lib/models/utils/patch_embed.py
build/lib/models/utils/pos_embs.py
build/lib/utils/distributed.py
build/lib/utils/logging.py
build/lib/utils/monitoring.py
build/lib/utils/schedulers.py
build/lib/utils/tensors.py
dist/jepa-0.0.1-py3.9.egg
model_weights/image_classification_frozen/in1k-16f/jepa_r0.csv
src/jepa.egg-info/dependency_links.txt
src/jepa.egg-info/PKG-INFO
src/jepa.egg-info/requires.txt
src/jepa.egg-info/SOURCES.txt
src/jepa.egg-info/top_level.txt
model_weights/vitl16.pth.tar
model_weights/in1k-probe.pth.tar
model_weights/image_classification_frozen/in1k-16f/jepa-latest.pth.tar
my_image_datasets/*