.*.swp
*.pyc
build/*
dist/*
model_weights/image_classification_frozen/in1k-16f/jepa_r0.csv
src/jepa.egg-info/*
model_weights/vitl16.pth.tar
model_weights/in1k-probe.pth.tar
model_weights/image_classification_frozen/in1k-16f/jepa-latest.pth.tar
my_image_datasets/*
pcluster/.envrc
